<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}chloemathews.net{% endblock %}</title>
    <script>
        // Immediately invoked function to set the dark mode if necessary
        (function () {
            if (localStorage.getItem('darkMode') === 'enabled') {
                document.documentElement.style.backgroundColor = '#121212'; // Set background to dark instantly
                document.documentElement.classList.add('dark-mode'); // Add dark mode class instantly
            }
        })();
    </script>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.home') }}">0xChloe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-left" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.roadmap') }}">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
            <button onclick="toggleDarkMode()" class="btn btn-dark">Toggle Dark Mode</button>
        </div>

    </nav>

    <div class="container-fluid mt-5">
        {% block content %}
        {% endblock %}
    </div>
    {{ bootstrap.load_js() }}
    <script>
        function toggleDarkMode() {
            const body = document.body;
            const isDarkMode = body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', isDarkMode ? 'enabled' : 'disabled');
            adjustDarkModeStyles(isDarkMode);
        }

        function adjustDarkModeStyles(enabled) {
            document.querySelectorAll('.navbar, .container').forEach(function (element) {
                if (enabled) {
                    element.classList.add('dark-mode');
                } else {
                    element.classList.remove('dark-mode');
                }
            });
        }

        window.onload = function () {
            const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
            if (isDarkMode) {
                document.body.classList.add('dark-mode');
            }
            adjustDarkModeStyles(isDarkMode);
        };
    </script>
</body>

</html>