{% extends 'base.html.j2' %}

{% block title %}Contact - Chloe Mathews{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contact Me</h1>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bluesky</h5>
                    <p class="card-text">Follow me on Bluesky</p>
                    <a target="_blank" rel="noopener noreferrer" href="#" class="btn btn-primary">Visit Bluesky</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Twitter</h5>
                    <p class="card-text">Tweet at me @ChloeOnTwitter.</p>
                    <a target="_blank" rel="noopener noreferrer" href="#" class="btn btn-primary">Visit Twitter</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">Check out my projects on GitHub.</p>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/cmathews393"
                        class="btn btn-primary">Visit GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">Send me an email for inquiries.</p>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:chloe@chloemathews.net"
                        class="btn btn-primary">Send Email</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}