{% extends 'base.html.j2' %}

{% block title %}Home - Chloe Mathews{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary mb-4">Welcome to chloemathews.net</h1>
    <p class="lead">Welcome to my homepage. Check out the pages below for more about me!</p>
    <p class="text-muted">A bit about me: I am a Python dev with 5 years experience as a systems and network
        administrator. I work on a few self-hosting tools in my free time, mostly my sync tool for Spotify/Plex, and
        some WIP tools like Plex Playlist Manager. See my <a href="/roadmap">roadmap</a> for more info on upcoming
        projects!</p>
    <a href="#about" class="btn btn-primary">Learn More About Me</a>
</div>
{% endblock %}