{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}Catastrophe Software{% endblock %}</title>
    {{ bootstrap.load_css() }}
    <style>
        .card {
            margin-top: 20px !important;
        }

        footer {
            margin-top: 20px !important;
        }
    </style>
    <link rel=" stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css"
        integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>




<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://catastrophesoftware.com">
                {# <img src="{{ url_for('static', filename='logo.png') }}" alt="" width=" 30" height="30"
                    class="d-inline-block align-top" /> #} Catastrophe Software</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{ render_nav_item('index', 'Home') }}
                    {{ render_nav_item('tools', 'Tools') }}
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}
        {% endblock %}
    </main>
    <footer class="text-center">
        {% block footer %}
        <small>“Soylent Green is people!”</small>
        <br>
        <small>&copy; Chloe Mathews</small>
        {% endblock %}
    </footer>
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>